@charset "UTF-8";
/*--========== BREAKPOINTS BASED ON BS5 ==========-- */
/*--========== MAX-WIDTH BASED ON BS5 ==========-- */
/*--========== COLORS ==========-- */
/*--========== GOOGLE FONTS ==========-- */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap");
/*--========== FONT FAMILY ==========-- */
/*--========== FONT WEIFHT ==========-- */
/*--========== FONT SIZE – 1rem=10px ==========-- */
/* ========== SPACES ========== */
/* MEDIA QUERIES BASED ON BREAKPOINTS BS5 ========== */
/* ========== RESET ========== */
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none; }

html,
body {
  overflow-x: hidden; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

/* ========== BASE SETTING PROJECT  ========== */
html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: aliceblue;
  color: black;
  margin: 0rem 0 0 0; }

h1, h2, h4, h4 {
  line-height: 1.5; }

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent; }
  .section.-header {
    background-color: white; }
  .section.-hero {
    background-color: #fafafa; }
  .section.-feature {
    background-color: #f3f4f6; }
  .section.-articles {
    background-color: #fafafa; }
  .section.-footer {
    background-color: #2d314d; }

.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1110px; } }

.grid {
  width: 100%;
  display: grid;
  gap: 1.6rem;
  text-align: center;
  padding: 1.6rem; }
  @media (min-width: 768px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto; } }
  @media (min-width: 992px) {
    .grid {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; } }

.logo {
  width: 100%;
  height: auto;
  text-indent: -9999px;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover; }
  .logo.-light {
    background-image: url("../assets/logo-light.svg"); }

.menu-button {
  width: 2.4rem;
  height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  cursor: pointer; }
  .menu-button > .bar1, .menu-button .bar2, .menu-button .bar3 {
    width: 100%;
    height: 2px;
    background-color: #2d314d;
    transition: all .3s ease; }
  .menu-button.-active > .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px); }
  .menu-button.-active > .bar2 {
    opacity: 0; }
  .menu-button.-active > .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -4px);
    transform: rotate(45deg) translate(-6px, -4px); }

.cta-button {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.2rem;
  opacity: 1;
  transition: opacity .3s ease-in-out; }
  .cta-button:hover {
    opacity: 0.75;
    transition: opacity .3s ease-in-out; }

.credits {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: #9698a6;
  background-color: transparent;
  padding: 4rem 0 0;
  text-align: center; }
  .credits > .link {
    color: white;
    transition: color .3s ease-in-out; }
    .credits > .link:hover {
      color: #31d35c;
      transition: color .3s ease-in-out; }
  @media (min-width: 992px) {
    .credits {
      padding: 4.8rem 0 0; } }

.main-header {
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 2.4rem;
  background-color: white;
  z-index: 1; }
  .main-header > .logo {
    max-width: 141px;
    max-height: 22px; }
  .main-header > .cta-button {
    display: none; }
  @media (min-width: 992px) {
    .main-header {
      height: 8rem;
      max-width: 960px;
      padding: 0; }
      .main-header > .cta-button {
        display: flex;
        max-width: 16.4rem;
        max-height: 4.4rem; }
      .main-header > .menu-button {
        display: none; } }
  @media (min-width: 1200px) {
    .main-header {
      max-width: 1110px; } }

.main-nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 6.4rem;
  left: 0;
  background-image: linear-gradient(to bottom, #2d314d, transparent);
  padding: 2.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
  z-index: 1; }
  .main-nav.-active {
    visibility: visible;
    opacity: 1;
    transition: all .4s ease-in-out; }
  .main-nav > .items-list {
    display: grid;
    gap: 2.4rem;
    justify-content: center;
    text-align: center;
    padding: 3.4rem 0;
    border-radius: 5px;
    background-color: white; }
    .main-nav > .items-list > .item > .link {
      font-size: 1.4rem;
      font-weight: 400;
      color: #9698a6; }
  @media (min-width: 992px) {
    .main-nav {
      position: relative;
      width: 100%;
      height: 100%;
      visibility: visible;
      opacity: 1;
      top: 0;
      padding: 0;
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .main-nav > .items-list {
        height: 100%;
        display: flex;
        padding: 0; }
        .main-nav > .items-list > .item {
          width: 100%;
          height: inherit;
          position: relative;
          display: flex;
          align-items: center;
          margin: 0 0.8rem; }
          .main-nav > .items-list > .item:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-image: linear-gradient(to right, #31d35c, #2bb7da);
            opacity: 0;
            transition: opacity .3s ease-in-out; }
          .main-nav > .items-list > .item:hover > .link {
            font-weight: 500; }
          .main-nav > .items-list > .item:hover:after {
            opacity: 1;
            transition: opacity .3s ease-in-out; } }

.main-hero {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 0; }
  .main-hero > .hero-text {
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    padding: 3rem 2.4rem 8.4rem; }
    .main-hero > .hero-text > .hero-title, .main-hero > .hero-text .hero-description {
      font-family: "Public Sans", sans-serif;
      margin-bottom: 3rem; }
    .main-hero > .hero-text > .hero-title {
      font-size: 3.7rem;
      font-weight: 500; }
    .main-hero > .hero-text > .hero-description {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5; }
    .main-hero > .hero-text > .cta-button {
      display: inline-flex;
      max-width: 16.4rem;
      height: 4.4rem; }
  .main-hero > .hero-image {
    position: relative;
    width: 100%;
    min-height: 28.2rem;
    background-color: #fafafa;
    background-image: url("../assets/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .main-hero > .hero-image:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      background-image: url("../assets/image-mockups.png");
      background-repeat: no-repeat;
      background-position: center top -135px;
      background-size: 350px; }
  @media (min-width: 992px) {
    .main-hero {
      max-width: 960px;
      height: 65rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .main-hero > .hero-text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding: 0 3.6rem 0 0; }
        .main-hero > .hero-text > .hero-title {
          font-size: 5.2rem; }
        .main-hero > .hero-text > .hero-description {
          font-size: 1.8rem; }
      .main-hero > .hero-image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 212%;
        height: 100%;
        background-image: url("../assets/bg-intro-desktop.svg");
        background-position: top -180px left -50px;
        background-size: 50%; }
        .main-hero > .hero-image:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          background-position: left bottom;
          background-size: 32%; } }
  @media (min-width: 1200px) {
    .main-hero {
      max-width: 1110px; }
      .main-hero > .hero-text {
        width: 47%; }
      .main-hero > .hero-image {
        left: 47%;
        background-position: top -245px left -50px;
        background-size: 50%; }
        .main-hero > .hero-image:after {
          height: 120%;
          background-position: left 110px bottom; } }

.main-feature {
  width: 100vw;
  height: auto;
  padding: 7.2rem 2rem; }
  .main-feature > .feature-intro {
    margin-bottom: 2.4rem;
    text-align: center; }
    .main-feature > .feature-intro > .title {
      font-size: 2.8rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 2.4rem;
      padding: 0 2.4rem; }
    .main-feature > .feature-intro > .description {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2; }
  .main-feature > .grid {
    gap: 3.6rem; }
    .main-feature > .grid > .feature-item > .icon {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 3rem; }
    .main-feature > .grid > .feature-item > .title {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem; }
    .main-feature > .grid > .feature-item > .description {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 2; }
  @media (min-width: 768px) {
    .main-feature {
      padding: 7.2rem 2.4rem; }
      .main-feature > .feature-intro {
        text-align: left;
        margin-bottom: 4.8rem; }
        .main-feature > .feature-intro > .title {
          padding: 0; }
      .main-feature > .grid {
        gap: 2.4rem;
        align-items: flex-start;
        padding: 0; }
        .main-feature > .grid > .feature-item {
          text-align: left; }
          .main-feature > .grid > .feature-item > .icon {
            justify-content: flex-start; }
          .main-feature > .grid > .feature-item > .description {
            line-height: 1.6; } }
  @media (min-width: 992px) {
    .main-feature {
      max-width: 960px;
      padding: 7.2rem 0; }
      .main-feature > .feature-intro > .title {
        font-size: 3.6rem; }
      .main-feature > .feature-intro > .description {
        width: 70%;
        font-size: 1.8rem;
        line-height: 1.5; }
      .main-feature > .grid {
        gap: 3.6rem; }
        .main-feature > .grid > .feature-item > .title {
          font-size: 2.4rem; } }
  @media (min-width: 1200px) {
    .main-feature {
      max-width: 1110px; }
      .main-feature > .grid {
        gap: 8rem; } }

.main-articles {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 7.2rem 2.4rem; }
  .main-articles > .articles-title {
    width: 100%;
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem; }
  .main-articles > .grid {
    padding: 0;
    gap: 3.2rem; }
    .main-articles > .grid > .article-action {
      width: 100%;
      max-width: 532px;
      height: 100%;
      margin: 0 auto;
      cursor: pointer;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
      .main-articles > .grid > .article-action > .article-item {
        width: 100%;
        height: 100%; }
        .main-articles > .grid > .article-action > .article-item > .article-image {
          height: 20rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 5px 5px 0 0; }
          .main-articles > .grid > .article-action > .article-item > .article-image.-one {
            background-image: url("../assets/image-currency.jpg"); }
          .main-articles > .grid > .article-action > .article-item > .article-image.-two {
            background-image: url("../assets/image-restaurant.jpg"); }
          .main-articles > .grid > .article-action > .article-item > .article-image.-three {
            background-image: url("../assets/image-plane.jpg"); }
          .main-articles > .grid > .article-action > .article-item > .article-image.-four {
            background-image: url("../assets/image-confetti.jpg"); }
        .main-articles > .grid > .article-action > .article-item > .article-content {
          padding: 3.2rem 2.4rem;
          text-align: left;
          color: #9698a6; }
          .main-articles > .grid > .article-action > .article-item > .article-content > .author {
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 1.6rem; }
          .main-articles > .grid > .article-action > .article-item > .article-content > .title {
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 1.6rem;
            transition: color .3s ease-in-out; }
          .main-articles > .grid > .article-action > .article-item > .article-content > .description {
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 1.5; }
  @media (min-width: 768px) {
    .main-articles > .articles-title {
      text-align: left; } }
  @media (min-width: 992px) {
    .main-articles {
      max-width: 960px;
      padding: 7.2rem 0; }
      .main-articles > .articles-title {
        font-size: 3.6rem; }
      .main-articles > .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 3rem; }
        .main-articles > .grid > .article-action {
          box-shadow: none;
          transition: box-shadow .3s ease-in-out; }
          .main-articles > .grid > .article-action:hover {
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            transition: box-shadow .3s ease-in-out; }
            .main-articles > .grid > .article-action:hover > .article-item > .article-content > .title {
              color: #31d35c;
              transition: color .3s ease-in-out; } }
  @media (min-width: 1200px) {
    .main-articles {
      max-width: 1110px; } }

.main-footer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 0 2rem; }
  .main-footer > .grid {
    padding: 0;
    gap: 4rem; }
    .main-footer > .grid > .social-media {
      width: 18rem;
      height: auto;
      margin: 0 auto; }
      .main-footer > .grid > .social-media > .logo {
        display: block;
        width: 141px;
        margin: 0 auto 3rem; }
      .main-footer > .grid > .social-media > .icons {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0; }
    .main-footer > .grid > .site-map {
      width: 100%; }
      .main-footer > .grid > .site-map > .list:first-child {
        margin-bottom: 2.4rem; }
      .main-footer > .grid > .site-map > .list > .item:not(:last-child) {
        margin-bottom: 2.4rem; }
      .main-footer > .grid > .site-map > .list > .item > .link {
        font-size: 1.4rem;
        font-weight: 300;
        color: white; }
    .main-footer > .grid > .cta-content {
      width: 100vw;
      margin: 0;
      padding: 0; }
      .main-footer > .grid > .cta-content > .cta-button {
        display: inline-flex;
        max-width: 16.2rem;
        height: 4.4rem;
        margin-bottom: 3rem; }
      .main-footer > .grid > .cta-content > .copyright {
        font-size: 1.3rem;
        font-weight: 300;
        color: #9698a6; }
  @media (min-width: 768px) {
    .main-footer {
      padding: 4rem 2.4rem 2rem; }
      .main-footer > .grid {
        grid-template-columns: 16rem 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 6rem; }
        .main-footer > .grid > .social-media {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start; }
          .main-footer > .grid > .social-media > .logo {
            display: block;
            width: 141px;
            margin: 0 auto 3rem 0; }
        .main-footer > .grid > .site-map {
          display: grid;
          grid-template-columns: repeat(2, 1fr); }
          .main-footer > .grid > .site-map > .list:first-child {
            margin-bottom: 0; }
          .main-footer > .grid > .site-map > .list > .item {
            text-align: left; }
        .main-footer > .grid > .cta-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end; } }
  @media (min-width: 992px) {
    .main-footer {
      max-width: 960px;
      padding: 4.8rem 0 2rem; }
      .main-footer > .grid > .social-media {
        width: 50%;
        height: 9.8rem; }
        .main-footer > .grid > .social-media > .icons > .icon > .link > svg path {
          fill: white;
          transition: fill .3s ease-in-out; }
        .main-footer > .grid > .social-media > .icons > .icon > .link:hover > svg path {
          fill: #31d35c;
          transition: fill .3s ease-in-out; }
      .main-footer > .grid > .site-map > .list {
        margin-left: 4rem; }
        .main-footer > .grid > .site-map > .list > .item > .link {
          color: white;
          transition: color .3s ease-in-out; }
          .main-footer > .grid > .site-map > .list > .item > .link:hover {
            color: #31d35c;
            transition: color .3s ease-in-out; } }
  @media (min-width: 1200px) {
    .main-footer {
      max-width: 1110px; }
      .main-footer > .grid > .social-media {
        width: 50%;
        max-width: 17rem; } }
