/*--========== BREAKPOINTS BASED ON BS5 ==========-- */
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*--========== MAX-WIDTH BASED ON BS5 ==========-- */
$max-xs: 100%;
$max-sm: 540px;
$max-md: 720px;
$max-lg: 960px;
$max-xl: 1110px;
